.cart-heading {
   margin: 18px 0 18px 0;
   font-family: 'Open Sans', sans-serif;
   font-weight: 900;
   font-size: 22px;
   text-transform: uppercase;
}

.cart-gray {
   background: #e5e5e5;
   width: 100%;
   height: 33px;
   margin-bottom: 10px;
   display: flex;
}

.box-one {
   height: 100%;
   width: 159px;
}

.box-two {
   height: 100%;
   width: 197px;
   display: flex;
   align-items: center;
   font-size: 11px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}

.box-three {
   height: 100%;
   width: 237px;
   display: flex;
   align-items: center;
   font-size: 11px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}

.box-four {
   height: 100%;
   width: 99px;
   display: flex;
   align-items: center;
   font-size: 11px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}

.box-five {
   height: 100%;
   width: 100px;
   display: flex;
   align-items: center;
   font-size: 11px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}

.box-six {
   height: 100%;
   width: 48px;
   display: flex;
   align-items: center;
   font-size: 11px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}
.itemsInCart {
   display: flex;
   border-bottom: 1px #dadada solid;
   margin-bottom: 18px;
   padding-bottom: 18px;

}

.box-one-prod {
   height: 102px;
   width: 159px;
   margin-top: 15px;
}
.box-one-prod img {
   width: 142px;
   height: 102px;
}

.box-two-prod {
   height: 100%;
   width: 197px;
   margin-top: 15px;
   display: flex;
   font-family: 'Open Sans', sans-serif;
   display: flex;
   flex-direction: column;
   text-transform: capitalize;

   h2 {
      font-size: 18px;
      font-weight: 300;
      text-transform: capitalize;
      margin-bottom: 4px;
   }

   h3 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 4px;
   }

   h4 {
      font-size: 12px;
      font-weight: 400;
      color: #09f;
      margin-bottom: 4px;
      cursor: pointer;
   }
}

.box-three-prod {
   height: 100%;
   width: 237px;
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   margin-top: 15px;
   text-transform: capitalize;
}

.box-four-prod {
   height: 100%;
   width: 99px;
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   margin-top: 15px;
}

.box-five-prod-1 {
   height: 100%;
   width: 95px;
   display: flex;

   flex-direction: column;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   margin-top: 10px;

   h4 {
      font-size: 12px;
      font-weight: 400;
      color: #09f;
      margin-bottom: 4px;
      cursor: pointer;
   }
}

.box-five-prod-2 {
   height: 100%;
   width: 95px;
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   margin-top: 10px;
}


.box-six-prod {
   height: 100%;
   width: 48px;
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   margin-top: 15px;
}

.small-field {
   width: 30px;
   border-radius: 4px;
}

.cart-footer {
   height: 140px;
   width: 100%;
   background-color: #e5e5e5;
   margin-bottom: 20px;
   display: flex;
   padding: 5px;

   .left {
      width: 70%;
   }

   .right {
      width: 30%;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 9px 25px 9px 25px;

      .row {
         display: flex;
         justify-content: space-between;
         margin-top: 12px;

         h2 {
               font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
         }
      }

      .big-row {
         display: flex;
         justify-content: space-between;
         border-top: 1px #e5e5e5 solid;
         margin-top: 15px;
         padding-top: 15px;

         h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 900;
         }
      }
   }
}
